
{% extends 'home/index.html' %}

{% load static %}
{% block title %}<title> customer login page </title>{% endblock title %}

{% block content %}

{% for message in messages %}
<h3>{{ message }}</h3>
{% endfor %}


      <form class='position-absolute top-50 start-50 translate-middle' action="{% url 'customer_login' %}" method="POST">
          {% csrf_token %}
          <div class="form-row my-2">
            
        <input type="text" name="username" placeholder="username">
          </div>
        <div class="form-row my-2">
        <input type="password" name="password" placeholder="password">
      </div>
        <div class="form-row my-2">
        <input class="btn btn-primary" type="submit" value="Login">
      </div>

      <a href="{% url 'customer_register' %}">You don't have an account?
        Register as a new customer</a>
      </form>


        
       

{% endblock %}