
{% extends 'home/index.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block title %}<title> customer manage page </title>{% endblock title %}

{% block content %}

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
   <h4 class="navbar-brand h1 ">customer manage page</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"href="/customer_page/search_car">Search for Available Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'password_change' %}">password change</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/customer_page/logout">Logout</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>





<table>



{% render_table table %}
</table>
</div>
{% endblock %}
