{% extends 'customer_page/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
<div>
  <p>Customer Page: {{user.username}}</p>
  <a href="{% url 'customer_logout' %}">Logout</a>
  <a href="{% url 'search_car' %}">Search Cars</a>
  <a href="{% url 'password_change' %}">password change</a>
</div>
<h3><b>Your Orders</b></h3>
<div>
<table>


  {% comment %} <tr>
    <th>Car</th>
    <th>Days</th>
    <th>Rent</th>
    <th>Capacity</th>
    <th>Description</th>
    <th>Postcode</th>
    <th>Action</th>
  </tr>
  {% for order in od %}
  <tr>
    <td>{{order.car.car_name}}</td>
    <td>{{order.days}}</td>
    <td>${{order.rent}}</td>
    <td>{{order.car.capacity}} Seats</td>
    <td>{{order.car.description}}</td>
    <td>{{order.car.location.postcode}}</td>
    <td>
      <form action = "/customer_page/delete/" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{order.id}}">
      <input type="submit" value="Delete">
    </form>

  </td>
  </tr>

{% endfor %} {% endcomment %}

{% render_table table %}
</table>
</div>
{% endblock %}
