
{% block content %}
<div class="w3-bar">

  <a href="/">Home</a>
</div>

  <b> <h2>Registration Form</h2></b>

  {% for message in messages %}
<h3>{{ message }}</h3>
{% endfor %}

<form action="{% url 'customer_register' %}" method="POST">
  {% csrf_token %}

  {% for field in form %}
                    <div class="form-row">
                        {{ field.errors }}
                        <div class="col">
                        {{ field.label_tag }}
                    </div>
                    <div class="col">
                     {{ field }}
                      </div>
                    </div>
                      {% endfor %}
                      <button type="submit" class="btn btn-primary btn-lg">
                        <i class="far fa-save"></i> save
                     </button>
</form>
</div>
</div>

{% endblock %}