{% load render_table from django_tables2 %}

<form action="{% url 'search_car' %}" method="POST">
    {% csrf_token %}

    {% for field in form %}
    <div class="col">
                          {{ field.errors }}


                          {{ field.label_tag }}


                       {{ field }}
                                           </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-lg">
                          <i class="far fa-save"></i> search
                       </button>
  </form>

  <table>

  {% render_table table %}
  </table>

  <a href="{% url 'customer_logout' %}">Logout</a>
  <br> <br>
  <a href="/customer_page/manage">Manage</a>
</p>

<br> <p> <a href="/">Home</a> </p>