{% load static %}

<tit> Edit A Car </tit>

{% if  message%}
<p> {{message}}</p>
<br> <p> <a href="/">Home</a> </p>
{% else %}
<form action="{% url 'edit_car' id %}" method="POST">
  {% csrf_token %}

  {% for field in form %}
                    <div class="form-row">
                        {{ field.errors }}
                        <div class="col">
                        {{ field.label_tag }}
                    </div>
                    <div class="col">
                     {{ field }}
                      </div>
                    </div>
                      {% endfor %}
                      <button type="submit" class="btn btn-primary btn-lg">
                        <i class="far fa-save"></i> save
                     </button>
</form>
{% endif %}